{% extends "header.html" %}

{% block title %}

{% endblock title %}

{% block content %}
    <section class="hero-section">
        <h1>Welcome to Utkarsh Academy</h1>
        <p>Your ultimate resource for mastering competitive exams</p>
        {% if request.session.user %}
            <a href="/test_series" class="btn btn-primary btn-hero">Get Started</a>
        {% else %}
            <a href="/login" class="btn btn-primary btn-hero">Get Started</a>
        {% endif %}
    </section>

    <section id="features" class="feature-section section mb-1">
        <div class="m-2">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 1</span>
                        <h3>Comprehensive Tests</h3>
                        <p>Access a variety of test series designed to cover all important topics.</p>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 2</span>
                        <h3>Instant Feedback</h3>
                        <p>Receive detailed analysis and feedback on your performance.</p>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 3</span>
                        <h3>Progress Tracking</h3>
                        <p>Track your progress over time and identify areas for improvement.</p>
                    </div>
                </div>
                
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 4</span>
                        <h3>Solutions</h3>
                        <p>Solutions are also provided with each questions during analysis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="about" class="about-section section mb-1">
        <div class="container border" style="border-radius: 10px;">
            <h2 class="p-2">About Us</h2>
            <p>We are dedicated to helping students excel in their chemistry exams by providing top-quality test preparation materials and resources. Our team of experienced educators has crafted comprehensive tests and practice materials to ensure you are well-prepared for your exams.</p>
        </div>
    </section>
    
    <section id="contact" class="contact-section section mb-1" style="display: flex;">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions or need further assistance, please feel free to reach out to us.</p>
            <p>Email: narinder0624@gmail.com</p>
            <p>Phone: (+91) 98728-93603</p>
        </div>
    </section>

    <section id="visit" class="contact-section section mb-1" style="display: flex;">
        <div class="container">
            <h2>Visit Us</h2>
            <br>
            <p>Utkarsh academy
                SCF 16-17
                Phase 10 mohali</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.9378123819942!2d76.7373366374865!3d30.687667182476627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fec055b36ee3f%3A0xc2ea90e8395d4b7a!2sUtkarsh%20Academy!5e0!3m2!1sen!2sin!4v1721369927276!5m2!1sen!2sin" 
                width="300" 
                height="250" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"
                class="border border-2 border-dark rounded-2">
                </iframe>
            </div>
    </section>
{% endblock content %}