{% extends "header.html" %}

{% block title %}
| Solution
{% endblock title %}

{% block content %}
    {% comment %} {% for question in questions %}
    
        <div class="card container mt-5 w3-animate-zoom" >
            <div class="card-body">

                <h5 class="card-title prevent-select">Question {{forloop.counter}}</h5>
                <hr class="border border-danger border-1 opacity-100">
                <p class="card-text h4 mb-3 prevent-select">{{question.Question}}</p>
                    

                {% for answer in question.question.all %}
                    {% if answer.is_Correct %}
                        <label for="answer{{ answer.id }}" class="h5 prevent-select bg-success w-100 text-light p-1 ps-4" style="font-family:'Times New Roman', Times, serif;">{{ answer.Answer }}</label><br>
                    {% else %}
                        <label for="answer{{ answer.id }}" class="h5 prevent-select ps-4" style="font-family:'Times New Roman', Times, serif;">{{ answer.Answer }}</label><br>
                    {% endif %}
                {% endfor %}
                
            </div>
            <div class="border border-2 rounded-4 mb-2">
                <label class="h4 m-3">Solution:</label><br>
                {% if question.text_Solution %}
                    <textarea class="ms-5 mb-4" rows="5" cols="120" disabled> {{question.text_Solution}} </textarea>
                {% else %}
                    <img class="ms-5 mb-4 img-thumbnail" src="/Content/Downloads/{{question.img_Solution}}" alt="Solution" width="auto">
                {% endif %}
            </div>
        </div>

    {% endfor %} {% endcomment %}


    <div class="container mt-5">
        <h1 class="mb-4">Test Solutions</h1>
        {% for question in questions %}
            <div class="card container mt-5 w3-animate-zoom">
                <div class="card-body">
                    <h5 class="card-title prevent-select">Question {{ forloop.counter }}</h5>
                    <hr class="border border-danger border-1 opacity-100">
                    <p class="card-text h4 mb-3 prevent-select">{{ question.question_text }}</p>
                    {% for answer in question.answers %}
                        <div class="{% if answer.id == question.correct_answer_id %}correct-answer{% elif answer.id == question.selected_answer_id and answer.id != question.correct_answer_id %}incorrect-answer{% endif %}">
                            {% comment %} <input type="radio" id="answer{{ answer.id }}" name="question{{ question.id }}" value="{{ answer.id }}" disabled {% if answer.id == question.selected_answer_id %}checked{% endif %}> {% endcomment %}
                            <label for="answer{{ answer.id }}" class="h6 prevent-select" style="font-family:'Times New Roman', Times, serif;">{{ answer.Answer }}</label>
                        </div>
                        {% endfor %}
                    <div class="border border-2 rounded-4 my-2 ">
                        <label class="h4 m-3">Solution:</label><br>
                        {% if question.question_text.text_Solution %}
                        <div class="w3-center" >
                            <textarea class="ms-lg-5 mb-4 ps-3 w3-center" rows="5" cols="35" disabled> {{question.question_text.text_Solution}} </textarea>
                        </div>
                        {% else %}
                            <img class="ms-5 mb-4 img-thumbnail" src="/Content/Downloads/{{question.question_text.img_Solution}}" alt="Solution" width="auto">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock content %}